
.day_container {
    width: 14%;
    border: solid black 1px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.calendar_body {
    margin: 5%;
}

.new_event_btn {
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    border: none;
}

.calendar_hour_box {
    border: 1px  solid black;
    height: 100px;
    padding: 0;
}

.calendar_hour_name {
    margin: 2px;
}
